<!-- Category Section Cards -->
<section class="container my-5" id="category-section">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark category-title">Kategori Pelatihan</h2>
  </div>
  <div class="row g-4">
    <div class="col-6 col-md-2 p-1" *ngFor="let category of categories">
      <a [routerLink]="['/courses', category.name]" class="category-link">
        <div class="card shadow-sm border-0 h-100 category-card">
          <div class="card-img-container">
            <img
              [src]="category.image"
              class="card-img-top rounded-top-4"
              [alt]="category.name"
            />
            <div class="card-title-overlay">
              <h5 class="fw-bold mt-2 mb-1">{{ category.name }}</h5>
            </div>
            <div class="card-body-overlay">
              <div class="text-secondary mb-2">{{ category.description }}</div>
              <span class="badge rounded-pill" [ngClass]="category.badgeClass">
                {{ category.badge }}
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
